* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}

#root {
    align-items: center;
    height: 100vh;
    grid-template-columns: 80%;
    justify-content: center;
    width: 100vw;
    display: flex;
}

#root article {
    height: 80%;
    display: grid;
    align-items: center;
}

#root article h1 {
    text-align: center;
    font-size: 40px;
}

#root article .initial_screen_container_options {
    display: flex;
    justify-content: space-around;
}

.initial_screen_option {
    height: 100px;
    width: 200px;
}

.sudoku {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
    height: 600px !important;
    margin: 0px auto;
}

.sudoku .sudoku_container_number {
    border: 1px solid #181818;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sudoku .sudoku_container_number .sudoku_number {
    border: .5px solid #ccc;
    width: calc(200px / 3);
    height: calc(200px / 3);
    justify-content: center;
    align-items: center;
    display: flex;
}

.sudoku .sudoku_container_number .static {
    font-weight: bold;
}

/*

    -> aside styles

*/

#root aside {
    position: fixed;
    height: 50px;
    width: 450px;
    bottom: 20px;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#root aside .number {
    transition: all 200ms ease-in;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.active {
    background-color: #ccc;
}

.clock {
    position: absolute;
    /* top:10px; */
    display: flex;
    left: 10px;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto;
}

.modal_container {
    animation: modal-animation 300ms linear;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1818184f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #fff;
    height: 600px !important;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    border-radius: 10px;
    text-align: center;
}

.results {
    animation: modal-in 350ms linear;
}

.enter-name {
    animation: modal-enter-name-animation 300ms linear;
}

.enter-name article form {
    display: flex;
    flex-direction: column;
}

.enter-name article form input[type="text"] {
    transition: background 200ms ease;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    border: .5px solid #ccc;
    font-size: 16px;
}

.enter-name article form input[type="text"]:focus {
    background: rgba(204, 204, 204, 0.555);
}

.enter-name article form input[type="submit"], input[type="button"] {
    padding: 10px;
    margin: 10px;
}

@keyframes modal-enter-name-animation {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


.modal img {
    user-select: none;
    width: 300px;
    margin: 0px auto;
}

.modal button {
    transition: background 200ms linear;
    padding: 10px;
    background-color: #fff;
    border: .5px solid #ccc;
}

.modal button:hover {
    background-color: #ccc;
}

@keyframes modal-in {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes modal-animation {
    from {
        opacity: 0;
        /* transform: translateY(-100%); */
    }

    to {
        opacity: 1;
        /* transform: translateY(0%); */
    }
}

.scores_section {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    background-color: #6C63FF;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scores_section:hover {
    cursor: pointer;
    box-shadow: -4px -5px 10px #6C63FF;
}

.scores_section:active {
    transform: scale(.8);
}

.scores_section img {
    width: 40px;
}

/*

    -> MENU

*/

#root .menu {
    animation: animation-in 200ms linear;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    display: none;
    justify-content: center;
    align-items: center;
}

#root .menu ul {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root .menu ul img {
    background: #181818;
    border-radius: 5px;
    width: 50px;
}

#root .menu ul li {
    transition: background 200ms ease-in-out;
    list-style: none;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background: #fff;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#root .menu ul .exit:hover {
    background-color: #dc3545;
    color: #fff;
}
#root .menu ul .scores-page:hover {
    background-color:#6C63FF;
    color: #fff;
}
#root .menu ul  .cancel {
    background-color: #dc3545;

}
#root .menu ul  .cancel img {
    background: transparent;
}

#root .menu ul li:hover img {
    background-color: transparent;
}
@keyframes animation-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}